/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* UTILITIES */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    padding: 0px 25px;
    margin: 0 auto;
    margin-bottom: 80px;
}
a{
    text-decoration: none;
}
.text-color{
    color:#E02C6D;
    ;
}

/* NAVIGATION MENU CSS */
header{
    display: flex;
    height: 120px;
    align-items: center;
}
.navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 25px;
    font-weight: 600;
}
.navBar ul{
    display: flex;
}
.navBar ul li{
    list-style: none;
    margin-left: 30px;
}
.navBar ul li a{
    font-size:16px;
    color: #3a3a3a;
    font-weight: 600;
}

/* BANNER SECTION CSS */
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-content h1{
    font-size: 45px;
    color: #3a3a3a;
    margin-bottom: 5px;
}
.banner-content p{
    font-size: 15px;
    font-weight: 600;
    color: #3a3a3a;
    margin-bottom: 20px;
}
.primary-button{
    color: #fff;
    background-color: #E02C6D;
    border:1px solid #E02C6D;
    padding: 11px 25px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.primary-button i{
    font-size: 15px;
    margin-left: 5px;
}
.banner-image{
    width: 100%;
}

/* LOGOS CSS */
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.container > .logo{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
}

/* POPULAR COLLECTION SECTION CSS */
.popular-collection h2{
    text-align: center;
    margin-bottom: 50px;
    color: #3a3a3a;
    font-size: 28px;
    font-weight: 600;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.collection-card{
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
    padding: 20px;
    border-radius: 7px;
}
.product-image{
    margin-bottom: 20px;
}
.product-image img{
    width:100%;
}
.product-name{
    font-size:28px;
    font-weight: 500;
    margin-bottom: 5px;
}
.product-price{
    font-size: 25px;
    font-weight: 500;
    color: #3a3a3a;
    margin-bottom: 3px;
}
.product-rating{
    margin-bottom: 10px;
}
.product-info .fa-star, .fa-star-half-alt{
    font-size: 10px;
    color: orange;
}
.product-info span{
    display: inline-block;
    color: #5E6366;
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
}
.product-info p{
    color: #787885;
    font-weight: 600;
    font-size: 14px;
}